@font-face {
  font-family: "RobotoRegular";
  src: url("../assets/fonts/Roboto-Regular.ttf");
}
@font-face {
  font-family: "RobotoBold";
  src: url("../assets/fonts/Roboto-Bold.ttf");
}
@font-face {
  font-family: "Nunito";
  src: url("../assets/fonts/Nunito-VariableFont_wght.ttf");
}
@media (min-width: 320px) {
  .footer {
    height: auto;
    width: 100%;
    background-color: #cc3333;
    position: fixed;
    justify-content: center;
    bottom: 0;
    left: 0;
    right: 0;
  }
}
@media (min-width: 768px) {
  .footer {
    height: auto;
    width: auto;
    background-color: #cc3333;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
  }
}
@media (min-width: 992px) {
  .footer {
    height: auto;
    width: auto;
    background-color: #cc3333;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
  }
}

@media (min-width: 320px) {
  .footer-container .footer-container {
    grid-template-columns: 1fr;
  }
}
@media (min-width: 768px) {
  .footer-container {
    max-width: 90%;
    display: grid;
    margin: auto;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
  }
}
@media (min-width: 992px) {
  .footer-container {
    max-width: 50%;
    display: grid;
    margin: auto;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
  }
}

.left {
  height: 100%;
  max-width: 100%;
  width: auto;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  color: #ffffff;
  font-family: "RobotoRegular", sans-serif;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.left h3 {
  font-family: "Nunito", sans-serif;
  font-weight: 800;
  font-size: 1.2rem;
  padding-bottom: 0.2rem;
}
.left p {
  font-size: 0.9em;
  line-height: 0.2em;
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  white-space: nowrap;
}

.middle {
  height: 100%;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  color: #ffffff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.middle h3 {
  font-size: 1.2rem;
  font-family: "Nunito", sans-serif;
  font-weight: 800;
  padding-bottom: 0.2rem;
}
.middle p {
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  font-size: 0.9em;
  line-height: 0.2em;
  white-space: nowrap;
}

.right {
  height: 100%;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  color: #ffffff;
  font-family: "RobotoRegular", sans-serif;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.right h3 {
  font-size: 1.2rem;
  padding-bottom: 0.2rem;
  font-family: "Nunito", sans-serif;
  font-weight: 800;
}
.right p {
  font-size: 0.9em;
  line-height: 0.2em;
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  white-space: nowrap;
}

.company-container {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: flex-start;
  margin-bottom: 0.8em;
  padding: 1em;
  line-height: 0.2em;
}

.copyright {
  display: flex;
  justify-content: center;
  background-color: #2a435d;
  color: #ffffff;
  font-family: "RobotoBold", sans-serif;
  font-size: 13px;
  width: 100%;
}

.socials {
  padding-left: 1em;
  display: flex;
  align-items: center;
}/*# sourceMappingURL=FooterStyles.css.map */