@import "../Breakpoints/Breakpoints.scss";
@import "../Variables/Variables.scss";

.main-container {
  @include sm {
    display: flex;
    justify-content: center;
    margin-top: 5em;
    width: 100vw;
    font-family: $fontMedium;
    background-color: red;
    font-size: 80px;
  }

  @include md {
    display: flex;
    justify-content: center;
    margin-top: 3em;
    width: 100vw;
    font-family: $fontMedium;
    background-color: orange;
    font-size: 40px;
  }

  @include lg {
    display: flex;
    justify-content: center;
    margin-top: 0%;
    width: 100vw;
    font-family: $fontMedium;
    background-color: yellow;
    font-size: 20px;
  }
}
