@import "../Breakpoints/Breakpoints.scss";
@import "../Variables/Variables.scss";

.main-container {
  @include sm {
    display: flex;
    flex-direction: column;
    height: 5em;
    justify-content: center;
    align-items: center;
    margin-top: 3em;
    width: 100%;
    font-family: $fontMedium;
    background-color: red;
    font-size: 40px;
  }

  @include md {
    display: flex;
    justify-content: center;
    height: 5em;
    // margin-top: 3em;
    width: 100%;
    font-family: $fontMedium;
    background-color: orange;
    font-size: 40px;
  }

  @include lg {
    display: flex;
    justify-content: center;
    height: 5em;

    width: 100%;
    font-family: $fontMedium;
    background-color: rgb(64, 160, 90);
    font-size: 40px;
  }
}

.button-container {
  display: flex;
  width: 3em;
  justify-content: center;
  height: 1em;
}

.button-styles {
  font-size: 18px;
  height: 2em;
  border: none;
  width: 3em;
  background-color: white;
  margin-right: 1em;
  &:hover {
    transition: 0.3s;
    background-color: darkgray;
  }
}

.shopping-cart {
  background-color: rgb(84, 133, 91);
}
