@font-face {
  font-family: "RobotoRegular";
  src: url("../assets/fonts/Roboto-Regular.ttf");
}
@font-face {
  font-family: "RobotoBold";
  src: url("../assets/fonts/Roboto-Bold.ttf");
}

@font-face {
  font-family: "Nunito";
  src: url("../assets/fonts/Nunito-VariableFont_wght.ttf");
}
// Fonts

$fontMedium: "RobotoRegular";
$fontBold: "RobotoBold";
$nunito: "Nunito";
// Font Colors
$graytext: rgb(86, 88, 90);
$linkText: #4bff3c;
$copyrightColor: #2a435d;

// Site Colors

$redBackround: #cc3333;
$blackBackround: #2a435d;
$creamBackground: #fff8ee;
$white: #ffffff;
